[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Alex Rozenshteyn
	email = alex@leapyear.io
[alias]
        co = checkout
        ci = commit --verbose
        p = pull --ff-only
        pm = pull --no-ff --no-rebase
        pr = pull --rebase
        pff = pull --ff-only
        pf = pull --ff-only
        pu = push
        pu-f = push --force-with-lease
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --graph --stat
        lp = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --patch
        lg = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --graph
        lsf = ls-files
        assume = update-index --assume-unchanged
        unassume = update-index --no-assume-unchanged
        assumed = "!git ls-files -v | grep ^h | cut -c 3-"
        s = status -s
        st = status
        br = branch
        bra = branch -a
        diff = diff --word-diff
        a = add
        b = branch
        f = fetch
        sup = submodule update --init --recursive
	latexdiff = difftool -t latexdiff
[github]
	user = alex-rozenshteyn-leapyear
[merge]
	conflictstyle = diff3
[push]
	default = upstream
[core]
	pager = less -FRX
[difftool "latexdiff"]
	cmd = $HOME/git-latexdiff/git-latexdiff-helper \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
